.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background: #fff;
  padding: 5px 15px;
  border-bottom: 2px solid #ddd;
  border-radius: 6px;
}
.navbar-heading {
  margin: 0 0 0 0;
  padding: 10px 20px;
  background: #ffffff;
  text-align: left;
}
